#control-panel{
    background-color: #353434;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    min-width: 300px;
    z-index: 1000;
}


#params-area{
    z-index: 1100;
}

#button-area{
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#button-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wide-toggle{
    width: 100px;
}

#display-control-popup{
    background-color: rgba(0,0,0,0);
}

#display-control-popup .content {
    min-height: 400px !important;
  }

#params{
}