body{
    /* opacity: 30%; */
}

body::before{
    background-image: url('../static/image/subway_background.jpg');
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.25;
}

#title{
    margin-bottom: 2em;
    margin-top: 10vh;
}

#chart-label{
    display: inline-block;
    font-size: 1.5em;
    margin-bottom: 2em;
}

#pie-chart{
    margin-top: 3em;
}

#chart{
    max-height: 300px;
}

#function-button{
    margin-top: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.function-button{
    margin: 1em auto;
}